@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JokesApp</h1>
    <p>As piores piadas que há por ai</p>
    <p><img src="~/images/trollface.png" /> </p>
</div>
